<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Green Goodies - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
            <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
            <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
            <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body class="bg-gray-50 flex flex-col min-h-screen">
        <header>
            <!-- Navbar -->
            <nav class="bg-[#FFFDF7] border-b border-gray-100 px-4 md:px-6 py-2.5">
                <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">

                    <!-- Logo -->
                    <a href="{{ path('app_home') }}" class="flex items-center playfair-display-200">
                        <span class="px-2 py-1 bg-green-800 text-white rounded-lg">G</span>
                        <span class="ms-2 self-center text-xl font-semibold whitespace-nowrap text-green-800">Green Goodies</span>
                    </a>

                    <!-- Bouton Mobile (Hamburger) -->
                    <button id="mobile-menu-button" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                        <span class="sr-only">Ouvrir le menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>

                    <!-- Liens de la Navbar -->
                    <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
                        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 text-[14px]">
                            <li class="flex items-center">
                                <a href="{{ path('app_home') }}#products" class="block py-2 pr-4 pl-3 text-gray-700 hover:text-primary lg:p-0">Nos Produits</a>
                            </li>
                            <li class="flex items-center">
                                <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 lg:p-0">Mon Panier</a>
                            </li>
                        </ul>

                        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-6 lg:mt-0 text-[14px] lg:ml-6 lg:pl-3">
                            {% if app.user %}
                                <li class="flex items-center">
                                    <a href="{{ path('app_user_account') }}" class="block py-2 pr-4 pl-3 text-gray-700 lg:p-0 font-bold">
                                        Mon compte
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}" class="block py-2 pr-4 pl-3 text-gray-700 lg:p-0">Déconnexion</a>
                                </li>
                            {% else %}
                                <li class="flex items-center">
                                    <a href="{{ path('app_register') }}" class="block py-2 pr-4 pl-3 text-gray-700 lg:p-0">Inscription</a>
                                </li>
                                <li class="flex items-center">
                                    <a href="{{ path('app_login') }}" class="block py-2 pr-4 pl-3 px-4 py-2 rounded-lg lg:mt-0">Connexion</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Contenu Principal -->
        <main class="w-full m-0 min-h-[calc(100vh-133px)] flex flex-col">
            {% block body %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="bg-white border-t border-gray-100 py-6 px-4">
            <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-center md:justify-end items-center text-[17px] text-gray-500">
                <span class="mb-2 md:mb-0 me-4">© Green Goodies - {{ "now"|date("Y") }}</span>
            </div>
        </footer>

        <!-- Script pour le menu mobile (Simple Toggle) -->
        <script>
            const btn = document.getElementById('mobile-menu-button');
            const menu = document.getElementById('mobile-menu');

            btn.addEventListener('click', () => {
                menu.classList.toggle('hidden');
            });
        </script>
    </body>
</html>
